@using System.Security.Claims
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Services.Dtos.CurrencyEntryDto>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DollarExchangeRate)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DollarExchangeRate)
            </td>
        </tr>
    }
    </tbody>
</table>

@using (Html.BeginForm("OnGetCurrencies", "Currency", method: FormMethod.Get))
{
    <input type="submit" value="Export currencies" />
}

@if (User.Claims.Where(c => c.Type == ClaimsIdentity.DefaultRoleClaimType).Select(claim => claim.Value).ToList().Contains("Admin"))
{
    <br>
    <h3>Select file to upload</h3>
    <form asp-action="OnPostCurrencies" asp-controller="Currency" method="post" enctype="multipart/form-data">
        <input type="file" name="uploadedFile" /><br>
        <input type="submit" value="Upload" />
    </form>
}