@model TimeSheet.Web.Models.TimeSheetTableModel

@{
    ViewData["Title"] = "TimeSheets";
}

<h1>TimeSheets</h1>

@using (Html.BeginForm("TimeSheets", "Home", method:FormMethod.Get))
{
    <p>
        <div>
            <h5>Filter by Date Of Works</h5>
            <p>
                Input start date : @Html.TextBoxFor(model => model.Filters.DateOfWorksFrom, new { @type = "date" })
                Input final date : @Html.TextBoxFor(model => model.Filters.DateOfWorksTo, new { @type = "date" })
            </p>
            <p>
                Input scope time sheet : @Html.TextBoxFor(model => model.Filters.Scope)
            </p>
            <p>
                Input name employee time sheet : @Html.TextBoxFor(model => model.Filters.NameEmployee)
            </p>
            <input type="submit" value="Apply filters"/>
        </div>
    </p>
}

<partial name="TimeSheetTable" model="Model.Entries" />

@if (Model.Page.HasPreviousPage)
{
    <a asp-action="TimeSheets"
   asp-route-page="@(Model.Page.PageNumber - 1)"
       class="btn btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Back
    </a>
}

@if (Model.Page.HasNextPage)
{
    <a asp-action="TimeSheets"
   asp-route-page="@(Model.Page.PageNumber + 1)"
       class="btn btn-outline-dark">
        Next
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}